.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  height: 400px;
  margin: 2rem;
  border: 2px solid black;
}

header {
  grid-area: header;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  grid-area: nav;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
