// 🎨 Variables globales de estilo
$color-primary: #ff4900;
$color-secondary: #0093FF;
$color-accent: #c500ff;
$color-link: #001bff;
$color-link-visited: #4CAF50;
$color-link-hover: #ff6600;
$color-table-header-bg: #000000;
$color-table-header-text: #ffffff;
$color-table-row-bg: #bec1c3;
$color-table-center-bg: #63A375;

$font-main: Arial, sans-serif;
$font-alt: 'Nerko One', cursive;
